## Choose your target database type (default is "SQL ANSI")
## #set ( $env.database = 'postgresql' )
## #set ( $env.database = 'mysql' )
## #set ( $env.database = 'oracle' )
## #set ( $env.database = 'sqlserver' )
#set ( $env.database = 'sqlite' )
##
## Use specific conversion rules defined in a file located in the bundle
## #set ( $env.databaseConvFile = $fn.fileFromBundle('mydbrules.properties') )
## 
#set( $sql = $env.sql )